*{
  box-sizing: border-box;
}

body{
  background-color: white;
  color: black;
}

/*=================for cellphone================*/
@media(max-width: 40rem){
  .body__img{
    background-image: url(../img/Saveur-Restaurant-Presents-The-Wine-Makers-Dinner.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 200px;
    opacity: 0.7;
}

/*for slider*/
.slider {
  width:300px;
  position: relative;
  bottom: 170px;
  margin:0 auto;
}

.slider li img {
  width:130px;
  height:auto;
}

.slider .slick-slide {
transform: scale(0.5);
transition: all .5s;
opacity: 0.5;
}

.slider .slick-slide.slick-center{
transform: scale(1);
opacity: 1;
}


/*setting for button*/

/*location*/
.slick-prev, 
.slick-next {
  position: absolute;
  top: 42%;
  cursor: pointer;
  outline: none;
  border-top: 2px solid rgb(39, 35, 100);
  border-right: 2px solid rgb(39, 35, 100);
  height: 15px;
  width: 15px;
}

.slick-prev {
  left: -1.5%;
  transform: rotate(-135deg);
}

.slick-next {
  right: -1.5%;
  transform: rotate(45deg);
}

/*setting for dot-nav*/

.slick-dots {
  text-align:center;
margin:20px 0 0 0;
}

.slick-dots li {
  display:inline-block;
margin:0 5px;
}

.slick-dots button {
  color: transparent;
  outline: none;
  width:8px;
  height:8px;
  display:block;
  border-radius:50%;
  background:rgb(39, 35, 100);
}

.slick-dots .slick-active button{
  background:rgb(39, 35, 100);
}

/*CSS for cellphone*/
ul{
margin:0;
padding: 0;
list-style: none;
}

.body__title h1{
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 80px;
}

/**/
.topcontents__no1{
  position: relative;
  bottom: 50px;
}
.topcontents__no1 h1{
  text-align: center;
  font-size: 30px;
}
.topcontents__no1 img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  left: 100px;
}
.topcontents__no1 h2{
  font-size: 20px;
  padding-bottom: 0;
  text-align: center;
}
.topcontents__no1 p{
  font-size: 15px;
  padding-top: 0;
  text-align: center;
}
.topcontents__no1 a{
  position: relative;
  left: 200px;
  font-weight: bold;
}
.topcontents__no1 a:hover{
  color: #154369;
}

/**/
.topcontents__no2{
  position: relative;
  bottom: 20px;
}
.topcontents__no2 h1{
  text-align: center;
  font-size: 30px;
}
.topcontents__no2 img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  left: 100px;
}
.topcontents__no2 h2{
  font-size: 20px;
  padding-bottom: 0;
}
.topcontents__no2 p{
  font-size: 15px;
  padding-top: 0;
}
.topcontents__no2 a{
  position: relative;
  left: 200px;
  font-weight: bold;
}
.topcontents__no2 a:hover{
  color: #154369;
}

/**/
.topcontents__no3 h1{
  text-align: center;
  font-size: 30px;
}

.topcontents__no3 img{
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: relative;
  left: 100px;
}
.topcontents__no3 h2{
  font-size: 20px;
  padding-bottom: 0;
}
.topcontents__no3 p{
  font-size: 15px;
  padding-top: 0;
}
.topcontents__no3 a{
  position: relative;
  left: 200px;
  font-weight: bold;
}

.topcontents__no3 a:hover{
  color: #154369;
}

/**/
#no1 h1{
  font-size: 30px;
  text-align: center;
}
.details__no1-1 img{
  width: 100%;
  position: relative;
  top: 20px;
}
.details__no1-1{
  position: relative;
  z-index: 1;
}
.rv1_1{
  position: relative;
  bottom: 300px;
  left: 230px;
  width: 270px;
  color: white;
}
.rv1_1 h2{
  font-size: 15px;
  padding-bottom: 0;
  text-align: left;
}
.rv1_1 p{
  font-size: 10px;
  padding-top: 0;
  text-align: left;
}
.rv1_2{
  position: relative;
  bottom: 320px;
  width: 250px;
}
.rv1_2 h2{
  font-size: 15px;
  padding-bottom: 0;
  text-align: left;
}
.rv1_2 p{
  font-size: 10px;
  padding-top: 0;
  text-align: left;
}
.rv1_3{
  position: relative;
  bottom: 350px;
  left: 230px;
  width: 270px;
}
.rv1_3 h2{
  font-size: 15px;
  padding-bottom: 0;
  text-align: left;
}
.rv1_3 p{
  font-size: 10px;
  padding-top: 0;
  text-align: left;
}
p1{
  color: white;
}
.blank1{
  background-color: #154369be;
  width: 270px;
  height: 200px;
  position: relative;
  left: 225px;
  bottom: 700px;
}
.blank2{
  background-color: #154369be;
  width: 290px;
  height: 90px;
  position: relative;
  bottom: 650px;
}
.left{
  position: relative;
  bottom: 600px;
  left: 30px;
  width: 200px;
  height: 200px;
  border-radius: 40% 10% 40% 10%;
  z-index: 3;
}
.center{
  position: relative;
  bottom: 750px;
  left: 170px;
  width: 300px;
  height: 300px;
  border-radius: 20%;
  z-index: 1;
}
.right{
  position: relative;
  bottom: 800px;
  left: 100px;
  width: 200px;
  height: 200px;
  border-radius: 10% 40% 10% 40%;
  z-index: 2;
}
.location{
  background-image: url(../img/1280px-BlankMap-World_gray.svg.png);
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  bottom: 750px;
}
.location h2{
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom: 50px;
}
.location p{
  font-size: 15px;
  text-align: center;
  position: relative;
  bottom: 50px;
}
.rfbfsite{
  position: relative;
  bottom: 50px;
  left: 190px;
  font-weight: bold;
}
.rfbfsite:hover{
  color: #154369;
}
  }


/*===================for laptop==================*/
  @media(min-width: 40rem){
  .body__img{
  background-image: url(../img/Saveur-Restaurant-Presents-The-Wine-Makers-Dinner.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  opacity: 0.7;
}

/*css for slider*/

.slider {
    width:300px;
    position: relative;
    bottom: 450px;
    margin:0 auto;
}

.slider li img {
    width:400px;
    height:auto;
}

.slider .slick-slide {
  transform: scale(0.5);
  transition: all .5s;
  opacity: 0.5;
}

.slider .slick-slide.slick-center{
  transform: scale(1);
  opacity: 1;
}


/*setting for button*/

/*location*/
.slick-prev, 
.slick-next {
    position: absolute;
    top: 42%;
    cursor: pointer;
    outline: none;
    border-top: 2px solid rgb(39, 35, 100);
    border-right: 2px solid rgb(39, 35, 100);
    height: 15px;
    width: 15px;
}

.slick-prev {
    left: -1.5%;
    transform: rotate(-135deg);
}

.slick-next {
    right: -1.5%;
    transform: rotate(45deg);
}

/*setting for dot-nav*/

.slick-dots {
    text-align:center;
  margin:20px 0 0 0;
}

.slick-dots li {
    display:inline-block;
  margin:0 5px;
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border-radius:50%;
    background:rgb(39, 35, 100);
}

.slick-dots .slick-active button{
    background:rgb(39, 35, 100);
}


/*=========CSS===============*/

ul{
  margin:0;
  padding: 0;
  list-style: none;
}
  }
